*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body{
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: rgb(12, 1, 46);
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.title{
  font-size: 3rem;
  font-weight: 700;
  color: coral;
}
.box{
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.btn{
  border: none;
  width: 6rem;
  height: 3rem;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.btn-danger{
  background-color: red;
}
.btn-warning{
  background-color: yellow;
}
.btn-dark{
  background-color: black;
}